<!doctype html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>

  <div class="topnav">
    <a id="home" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='home.png')}}" />
    </a>
    <div class="topnav-right">
      <a id="help" href="{{ url_for('help') }}">
        <img src="{{ url_for('static', filename='help-64.png')}}" />
      </a>
    </div>
  </div>

  <title>DefiniTerms - проверка перевода терминологии по глоссарию</title>

  <div class="main">

  	<h1>{% block title %} {% endblock title %}</h1>


    <h1>{% block subtitle %} {% endblock subtitle %}</h1>

      {% block content %} {% endblock content %}

  </div>



		<footer>
		  <p>
		    <a href="mailto:alex.g.skrn@gmail.com"> alex.g.skrn@gmail.com</a>
		  </p>
		</footer>

</body>
</html>
