{% extends 'base.jinja2' %}

{% block title %}
Проверка терминологии
{% endblock title %}

{% block content %}

<p>Проверка перевода терминологии в двуязычном текстовом файле
  с помощью двуязычного глоссария</p>

<form method=post enctype=multipart/form-data>
  <fieldset>
    <!-- <legend>Verification parameters:</legend> -->
  <input type="radio" name="directions" id="direction1" value="eng-rus"> английский-->русский </input><br>
  <input type="radio" name="directions" id="direction2" value="rus-eng" required> русский-->английский </input><br><br>

  <input type="radio" name="outcomes" id="outcome1" value="errors"> Искать ошибки в переводе терминов</input><br>
  <input type="radio" name="outcomes" id="outcome2" value="successes" required> Искать правильно переведенные термины</input><br><br>

  <label for=bitext>двуязычный_текст.txt (&lt 1Mb)*: </label>
  <input type=file name=bitext id=file1 required><br><br>

  <label for=glossary>двуязычный_глоссарий.txt (&lt 0.5Mb)**: </label>
  <input type=file name=glossary id=file2 required><br><br>

  <input type=submit value=Проверить! class="button"/>

  </fieldset>
</form>

<p>*Двуязычный txt-файл с разделителями табуляцией, по одной паре предложений на строке</p>

<p>**Двуязычный txt-файл с разделителями табуляцией, по одной паре терминов на строке</p>
</div>

<script>
    function hasExtension(inputID, exts) {
        var fileName = document.getElementById(inputID).value;
        return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
    }

    var uploadField1 = document.getElementById("file1");

    uploadField1.onchange = function() {
        if(this.files[0].size > 1 * 1024 * 1024){
           alert("Слишком большой файл - максимальный размер 1Mb!");
           this.value = "";
        } else if (!hasExtension('file1', ['.txt'])) {
          alert("Расширение файла должно быть txt!");
          this.value = "";
        };
    };

    var uploadField2 = document.getElementById("file2");

    uploadField2.onchange = function() {
        if(this.files[0].size > 0.5 * 1024 * 1024){
           alert("Слишком большой файл - максиальный размер 0.5Mb!");
           this.value = "";
         } else if (!hasExtension('file1', ['.txt'])) {
           alert("Расширение файла должно быть txt!");
           this.value = "";
        };
    };
</script>

{% endblock content %}
