{% extends 'base.jinja2' %}

{% block title %}
Terminology verification
{% endblock title %}

{% block content %}

<p>Verify the terminology translation in your bilingual text file
  by using a bilingual glossary</p>

<form method=post enctype=multipart/form-data>
  <fieldset>
    <!-- <legend>Verification parameters:</legend> -->
  <input type="radio" name="directions" id="direction1" value="eng-rus"> English-Russian </input><br>
  <input type="radio" name="directions" id="direction2" value="rus-eng" required> Russian-English </input><br><br>

  <input type="radio" name="outcomes" id="outcome1" value="errors"> Get errors </input><br>
  <input type="radio" name="outcomes" id="outcome2" value="successes" required> Get successes </input><br><br>

  <label for=bitext>Bilingual_Text.txt (&lt 1Mb)*: </label>
  <input type=file name=bitext id=file1 required><br><br>

  <label for=glossary>Bilingual_Glossary.txt (&lt 0.5Mb)**: </label>
  <input type=file name=glossary id=file2 required><br><br>

  <input type=submit value=Verify class="button"/>

  </fieldset>
</form>

<p>*A dual-language tab-delimited txt file, one pair of sentences per line</p>

<p>**A dual-language tab-delimited txt file, one pair of terms per line</p>
</div>

<script>
    function hasExtension(inputID, exts) {
        var fileName = document.getElementById(inputID).value;
        return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
    }

    var uploadField1 = document.getElementById("file1");

    uploadField1.onchange = function() {
        if(this.files[0].size > 1 * 1024 * 1024){
           alert("File is too big - max size is 1Mb!");
           this.value = "";
        } else if (!hasExtension('file1', ['.txt'])) {
          alert("Wrong extension - only txt allowed!");
          this.value = "";
        };
    };

    var uploadField2 = document.getElementById("file2");

    uploadField2.onchange = function() {
        if(this.files[0].size > 0.5 * 1024 * 1024){
           alert("File is too big - max size is 0.5Mb!");
           this.value = "";
         } else if (!hasExtension('file1', ['.txt'])) {
           alert("Wrong extension - only txt allowed!");
           this.value = "";
        };
    };
</script>

{% endblock content %}
